/* css for nav in w3.css startup template */

nav .hidden {
    display: none;
}

nav #navTop {
    color: #000;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

nav #navTop div {
    display: none;
    float: right;
}

nav #navHome{
    letter-spacing: 4px;
}

nav a {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}

nav #navSideClose {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 18px;
}

nav #navOpenSide {
    float: right;
}

nav #navSideClose::after{
    content: 'Close \00d7';
}

@media (min-width: 601px){
    nav #navTop div {
        display: inline-block;
    }
    nav #navOpenSide {
        display: none;
    }
}
